.table-container {
    margin: 20px;
    font-family: Arial, sans-serif;
    background: white hsla(0, 0%, 100%, 0.534);
    background-size: auto;
    color: white;
    padding: 20px;
    border-radius: 8px;
}

.title {
    color: white;
    font-weight: bold;
    text-align: center;
}

.combined-table {
    width: 100%;
    border: solid 1px #ccc;
}

.combined-table th, .combined-table td {
    padding: 8px;
    text-align: left;
}